development: &default
  adapter: mysql2
  encoding: utf8
  database: websocket-game_development
  host: localhost
  username: root
  password: ""

test: &TEST
  <<: *default
  database: websocket-game_test

